.not-completed-task,.completed-task{
    border-radius: 10px;
    text-align: center;
    color:black;
    font-weight: 600;
    margin: auto;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color:white;    
    font-size: 20px;
    list-style: none;

}
.not-completed-task{
    background-color: red;

}
.completed-task{
    background-color: green;
}


.counter {
    background-color:rgb(3, 3, 82);
    border-radius: 52%;
    padding: 5px 10px;
    font-size: 20px;
    margin-right: 10px;
    text-align: center;
  }